
<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
         style="background-image: url('http://noithathot.com/cong-trinh/sneaker/thiet-ke-shop-giay-sneaker-2.jpg');">
  <span>
    <H3 class="tit6 t-center">SHOE WORLD</H3>
    <BR>
  <H6 class="big swiper-text" data-caption-animate="fadeInLeft" data-caption-delay="300"
      style="color:#0d0a0a;font-size: 25px">
    ‘Hãy mang những giấc mơ của bạn lên đôi chân để dẫn lối giấc mơ đó thành hiện thực.’ – <B> Roger Vivier </B>
  </H6></span>
</section>


<!-- Gallery -->

<app-body></app-body>

<div class="section-header text-center " style="margin-top: 1%">
  <h2 style="text-align: center">Mọi người nói gì?</h2>
  <p class="lead">Tổng hợp các ý kiến một số người đánh giá gần đây</p>
</div>

<!-- Why us -->
<div class="section" style="margin-left: 15%">
  <!-- container -->
  <div>
    <!-- row -->
    <div class="row">
      <!-- feature -->
      <div class="col-md-3" style="height: 300px">
        <div class="feature;w-500 h-400 border border-2 border-danger p-3 rounded ">
          <img class="rounded-img" src="https://i.pinimg.com/564x/66/3e/4a/663e4ab3ccffc86559236d7f006c0b03.jpg"
          >
          <div>
            <h4>Vân NTC</h4>
            <p>Với một người cuồng giầy như tôi thì tôi thật sự rất thích trải nghiệm cùng với SHOES WORLD - shop xoay
              quanh những đôi giầy chất lượng còn hay sale sốc.</p>
          </div>
        </div>
      </div>

      <!-- feature -->
      <div class="col-md-3" style="margin-left: 30px ">
        <div class="feature;h-500 border border-2 border-danger p-3 rounded">
          <img class="rounded-img" src="https://i.pinimg.com/564x/6a/43/e6/6a43e67f350af98908004a0838781afb.jpg">
          <div>
            <h4>Lan TTN</h4>
            <p>Một kiểu dáng giày dùng cho tất cả mọi hoạt động trong ngày, SHOES WORLD còn là đại diện cho lối sống
              Việt Nam không bao giờ bị mai một, đem đến nguồn cảm hứng bất tận từ những đôi giày.</p>
            <!--            <span class="more-btn">...</span>-->
          </div>
        </div>
      </div>

      <!-- feature -->
      <div class="col-md-3" style="margin-left:30px">
        <div class="feature;w-500 border border-2 border-danger p-4 rounded">
          <img class="rounded-img" src="https://i.pinimg.com/564x/75/d6/de/75d6de7e74085bd07fa1fb8990ccba92.jpg">
          <div>
            <h4>Nương HT</h4>
            <p>Đôi giày này có chất liệu rất tốt độ bền cao, mình đã dùng trong một thời gian khá dài và vẫn còn mới
              như
              ban đầu. Hãy đến SHOES WORLD, sẽ không có sự lựa chọn thất vọng.</p>
          </div>
        </div>
      </div>
    </div>
    <hr class="section-hr">
  </div>
</div>
<!-- Intro -->
<section class="section-intro">
  <div class="header-intro parallax100 t-center p-t-135 p-b-158"
       style="background-image: url('https://i.pinimg.com/564x/b9/c6/2e/b9c62ec4d8d6be6b95731a42517a22c5.jpg');">
			<span class="tit2 p-l-15 p-r-15">
			SHOP
		<br>

    <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
      SHOE WORLD
    </h3>
        <br>
    <p STYLE="color: white;background: #0d0a0a" class="big swiper-text" data-caption-animate="fadeInRight"
       data-caption-delay="300">
      ‘Chân tôi vẫn đang trên mặt đất, và tôi chỉ đang đi những đôi giày tốt hơn.’ – Oprah Winfrey</p>
	</span>
  </div>

  <div class="content-intro bg-white p-t-77 p-b-130">
    <div class="container">
      <div class="row">
        <div class="col-md-3 p-t-30 justify-content-center m-l-194">
          <!-- Block1 -->
          <div class="blo1">
            <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
              <a href="/detail"><img src="https://i.pinimg.com/564x/41/ce/ad/41cead048867bd0b93ca21a53b464d6c.jpg"
                                     style="height: 350px;width: 300px" alt="IMG-INTRO"></a>
            </div>

            <div class="wrap-text-blo1 p-t-35">
              <a routerLink=""><h4 class="txt5 color0-hov trans-0-4 m-b-13">
                Giày Sneaker
              </h4></a>

              <p class="m-b-20">
                Giày Sneaker nữ độn đế da cao cấp Annie
              </p>

              <a routerLink="/detail" class="txt4">
                Chi tiết
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3 p-t-30 " style="margin-left: 50px">
          <!-- Block1 -->
          <div class="blo1">
            <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
              <a href="#"><img src="https://i.pinimg.com/564x/78/54/93/78549323735d935dc8acd423d0b8cf05.jpg"
                               style="height: 350px;width: 300px" alt="IMG-INTRO"></a>
            </div>

            <div class="wrap-text-blo1 p-t-35">
              <a href=""><h4 class="txt5 color0-hov trans-0-4 m-b-13">
                Giày Sneaker cao cấp
              </h4></a>

              <p class="m-b-20">
                Giày Sneaker nữ cao cáp đế kếp Tiny
              </p>

              <a routerLink="/detail" class="txt4">
                Chi tiết
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3 p-t-30" style="margin-left: 50px">
          <!-- Block1 -->
          <div class="blo1">
            <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
              <a href="#"><img src="https://i.pinimg.com/564x/dc/d5/11/dcd511a881b1f1d623c1e77340a7a24f.jpg"
                               style="height: 350px;width: 300px" alt="IMG-INTRO"></a>
            </div>

            <div class="wrap-text-blo1 p-t-35">
              <a href="#"><h4 class="txt5 color0-hov trans-0-4 m-b-13">
                Giày Sneaker thể thao
              </h4></a>

              <p class="m-b-20">
                Giày thể thao nữ AZARA - giày ullzzang màu Trắng, độn đế 4,5cm viền đen bản 2 dây cá tính - M7132
              </p>

              <a routerLink="/detail" class="txt4">
                Chi tiết
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Sign up -->
<div class="section-signup bg1-pattern p-t-85 p-b-85">
  <form class="flex-c-m flex-w flex-col-c-m-lg p-l-5 p-r-5">
			<span class="txt100 m-10">
        <b> Đặc biệt đăng ký </b>
			</span>

    <div class="wrap-input-signup size17 bo2 bo-rad-10 bgwhite pos-relative txt10 m-10">
      <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email-address" placeholder="Email Adrress">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
           class="bi bi-envelope-at-fill"
           viewBox="0 0 16 16">
        <path
          d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/>
        <path
          d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
      </svg>
    </div>

    <!-- Button3 -->
    <button type="submit" class="btn3 flex-c-m size18 txt11 trans-0-4 m-10">
      Đăng ký
    </button>
  </form>
</div>


