<main>

  <!-- error area start -->
  <section class="error__area pt-200 pb-200 " style="margin-top: 120px">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
          <div class="error__item text-center">
            <div class="error__thumb mb-45">
              <img src="https://firebasestorage.googleapis.com/v0/b/shoe-world-7d7d1.appspot.com/o/error.png?alt=media&token=c1b04dcd-9081-4321-bdbe-97bdbdc87b31" alt="">
            </div>
            <div class="error__content">
              <h3 class="error__title">Page Not Found!</h3>
              <p>Please try searching for some other page.</p>
              <a href="index.html" class="e-btn e-btn-3 e-btn-4">Back To Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- error area end -->

</main>
